@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', monospace;

}

body {
  margin: 0;
  background-color: #333;
  overflow: hidden;
}

.score-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: yellow;
}
.score-label, .deaths-label {
  color:rgb(173, 77, 128);
}
.score {
  margin-bottom: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flap-drive {
  margin-top: .5em;
  color: orange;
  font-size: 16px;
  text-shadow: yellow 2px 2px;
  margin-bottom: .2em;
}

.based-on-joust {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.based-on {
  text-align: center;
  color: #aaaf;
}

.joust {
  height: 20px;
  width: 70px;
  margin: .4em 1em 0 1em;
}

canvas {
  background: #eee;
  display: block;
  width: 70vw;
  height: calc(60vw * .62);
  margin: 20px auto 40px auto;
  border: 2px solid crimson;
  box-shadow: 15px 15px 15px 15px, -15px -15px 15px 15px black;
}


.sprite-store {
  display: none;
}

.controls {
  position: absolute;
  top: 30vh;
  left: 10px;
  width: 110px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.control {
  border-radius: 9px;
  padding: 5px;
  width: 110px;
  /* margin: auto; */
  font-weight: bold;
  font-size: 11px;
  opacity: .6;
}

.stop-interval {
  background-color: red;
}

.stop-interval:hover {
  background-color: aqua;
}

.stop-interval:active {
  background-color: gold;
}

.start-interval {
  background-color: limegreen;
  color: deeppink;
}

.start-interval:hover {
  background-color: aqua;
}

.start-interval:active {
  background-color: gold;
}
.start-over {
  background-color: black;
  color: deeppink;
}

.start-over:hover {
  background-color: aqua;
}

.start-over:active {
  background-color: gold;
}

.add-blue {
  background-color: blue;
  color: white;
}

.add-blue:hover {
  background-color: deeppink;
}

.add-blue:active {
  background-color: lemonchiffon;
}

.dev-controls {
  width: 60vw;
  margin: .1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-blues {
  font-size: 11px;
  background-color: lemonchiffon;
  color: teal;
}

.remove-blues:hover {
  background-color: olivedrab;
  color: brown;
}

.remove-blues:active {
  background-color: peru;
  color: deeppink;
}